footer {
  padding-top: 50px;
  background-image: url(/footer.jpg);
}
.footer_menu {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.footer_menu a {
  text-decoration: none;
  color: #000;
}
footer a {
  color: #000;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #ed1c24;
}
footer p {
  color: #000;
  font-weight: 500;
}
